{% extends 'core/base.html' %}

{% block title %}Rooms{% endblock %}

{% block content %}
<h1>Rooms</h1>
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl"></div>
    <div class="grid grid-cols-3 gap-3">
        {% for room in rooms %}
        <div>
            <a href="#">
                <div>
                    <h3><strong>{{room.name}}</strong></h3>
                </div>
                <div>
                    <a href="{% url 'room:detail' room.slug %}" class="btn btn-success" type="button">Join</a>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}